/*css rest*/
* {
    margin: 0;
    padding: 0;
}

/* Css Variables */
:root {
    --navbar-height: 59 px;
}

/* Navigation Bar */
#navbar {
    display: flex;
    position: absolute;
}

/* Navigation Logo And image */
#logo {
    margin: 4px 9px;
}

#logo img {

    height: 60px;
    margin: 5px 16px;
}

/* Navigation List Styling */
#navbar ul {
    display: flex;
}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
}

#navbar ul li {

    list-style: none;
    font-size: 1.3rem;

}

#navbar ul li a {
    color: white;
    display: block;
    padding: 24px 15px;
    border-radius: 25px;
    text-decoration: none
}

#navbar ul li a:hover {
    color: black;
    background-color: white;
}

/* Home Section */
#home {
    display: flex;
    flex-direction: column;
    padding: 34px 34px;
    align-items: center;
    justify-content: center;
    height: 640px;

}

#home::before {
    content: "";
    position: absolute;
    background: url(/img/bg1.jpg) no-repeat center center / cover;
    z-index: -1;
    opacity: 0.98;
    height: 67%;
    width: 100%;
    top:0px;
    left: 0px;
}

/* services section */
#services {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 36px;
     

}

#services .box {
    border: 3px solid black;
    margin: 10px;
    width: 30%;
    border-radius: 28px;
    background-color: rgb(228, 223, 209);
}

#services .box img {
    height: 200px;
    margin: auto;
    display: block;
}
/* client-section */
#client-section{
    height: 371px;
}
#client-section::before{
    content: "";
    position: absolute;
    background: url("../img/bg2.png");
    height: 371px;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}
#client{
    display: flex;
    justify-content: center;
    align-items: center;

}
.client-item{
    padding:50px;
}
.client-item img{
    height:133px;
} 
/* contact-section */
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    background: url("../img/bg3.png") no-repeat center center/cover;
    height: 300px;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    
 } 
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding:0.5rem;
    border-radius: 9px;

}
#contact-box form{
    width: 30%;
}
#contact-box label{
    font-size: 1.3rem;
}
/* utility class */
.h-primary {
    font-size: 3.5rem;
    color: rgb(184, 185, 170);
    padding: 21px;
    margin-right: 785px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.h-secondary {
    font-size: 2.3rem;
    padding: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.primary {
    font-size: 3.3rem;

}
.z-primary {
    font-size: 3.3rem;
    padding: 22px;

}

.text {
    color: white;
    font-size: 1.4rem;
    margin-right: 800px;
    text-align: center;
}

#btn {
    margin-right: 718px;
    padding: 6px 22px;
    margin-top: 28px;
    border-radius: 10px;
    background-color: rgb(68, 3, 3);
    color: rgb(215, 222, 228);
    border: 3px solid black;
    font-size: 1.1rem;
    cursor: pointer;
}

.center {
    text-align: center;
}
.text1{
    font-size: 1.3rem;
    padding: 9px 20px;
}
footer{
    background: black;
    color: white;
    padding: 10px 30px;
}